<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack Cards Loading Animation</title>
    <link rel="stylesheet" href="CardAnimation.css">
</head>
<body>
    <div class="loading">
        <div style="--i:1;">
            <span>C</span>
            <span></span>
        </div>

        <div style="--i:2;">
            <span>R</span>
            <span></span>
        </div >

        <div style="--i:3;">
            <span>I</span>
            <span></span>
        </div>

        <div style="--i:4;">
            <span>S</span>
            <span></span>
        </div>

        <div style="--i:5;">
            <span>T</span>
            <span></span>
        </div>

        <div style="--i:6;">
            <span>I</span>
            <span></span>
        </div>

        <div style="--i:7;">
            <span>A</span>
            <span></span>
        </div>

        <div style="--i:8;">
            <span>N</span>
            <span></span>
        </div>

        <div style="--i:9;">
            <span>. . . </span>
            <span></span>
        </div>

    </div>
    
</body>
</html>