<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trancisiones</title>
    <link rel="stylesheet" href="Trancisiones.css">
</head>
<body>
    <div class="body">
        <h1 class="title">Transiciones Ejemplo</h1>
        <h2 class="title">Menu</h2>
        <nav class="main-nav">
            <ul class="main-menu">
                <li class="main-menu__item">Item 1</li>
                <li class="main-menu__item">Item 2</li>
                <li class="main-menu__item">Item 3</li>
                <li class="main-menu__item">Item 4</li>
                <li class="main-menu__item">Item 5</li>
            </ul>
        </nav>
    </div>
<!-- _________________________________________________________________ -->
    <h2>Transiciones(Transition)</h2>
    <div class="contenedor-transicion">
        <div class="cuerpo">
            <div class="uno">Hola

            </div>
        </div><br>
<!-- _________________________________________________________________ -->
        <h2>transition-timing-funcion (transform)</h2>
        <div class="cuerpo2">
            <div class="box ease">ease</div>
            <div class="box ease-in">ease-in</div>
            <div class="box ease-out">ease-out</div>
            <div class="box ease-in-out">ease-in-out</div>
            <div class="box linear">linear</div>
        </div>

    </div>
    

</body>
</html>