<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="navBar.css">
    <title>NAVBAR</title>
</head>
<body>
    <div class="navigation">
        <ul>
            <li class="list active">
                <a href="#">
                    <span class="icon"><i class="uil uil-home"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="uil uil-user"></i></span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="uil uil-envelopes"></i></span>
                    <span class="title">Messages</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="uil uil-setting"></i></span>
                    <span class="title">Setting</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="uil uil-question"></i></span>
                    <span class="title">Help</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="uil uil-lock"></i></span>
                    <span class="title">Password</span>
                </a>
            </li> 
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="uil uil-signout"></i></span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
    <script src="js.js"></script>
</body>
</html>